 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Gautam (pronounced "Gotham", like the city from Batman) is a software engineer with experience in web and mobile development. His interests lie in machine learning, artificial intelligence, data science, distributed systems, and product design. 
                </div>
                <div class="col-lg-4">
                    <p>He is also the author of <i>Remain Free</i> and winner of the 2016 Georgia Author of the Year Award. In his free time, he enjoys weightlifting, writing, traveling, competitive chess, making pizzas, and Nicolas Cage movies.  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.dropbox.com/s/pld9shvq7ri6n2c/Gautam%20Narula%20Resume.pdf?dl=0" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resumé
                    </a>
                </div>
            </div>
        </div>
    </section>
